.movieCard {
    display: flex;
    align-items: center; /* Центрування по вертикалі */
    background: var(--color-purple-500);
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    gap: 20px;
    max-width: 95%;
    flex-wrap: wrap;
}

.cardImage img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.cardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
    color: white;
}

.cardTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.cardEmail {
    font-size: 14px;
    margin: 8px 0;
}

.cardDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.cardDetails div {
    padding: 8px 12px;
    background-color: #f5f5f5;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
}

.cardButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
}

