.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 3px;
}

.filter {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
    background-color:  var(--color-purple-500);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.filter:hover {
    background-color: var(--color-lavender-300);
    transform: translateY(-2px);
}