<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Вітаємо в нашому магазині!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                Маємо надію, що ви знайдете собі книжки до душі :)
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="{{frontUrl}}"
               style="display: inline-block; padding: 10px 20px; background-color: #512ac7; color: #ffffff; text-decoration: none; border-radius: 5px; margin-top: 15px;">
                До покупок
            </a>
        </td>
    </tr>
</table>