:root {
  --background: #f2f3f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  display: flex;
  width: 1600px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative;
}

.page-content {
  flex: 1;
  margin-top: 20px;
}
