.main_container {
  display: flex;
  flex-direction: column;
  //   padding: 16px 0 32px;
}

.main_side_bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.main_title {
  width: 100%;
  height: auto;
  font-size: 24px;
  line-height: 100%;
  color: #5b636f;
  font-family: Mabry Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
  padding-top: 10px;
}

.main_title {
  width: calc(100% - 205px);
}
