@import url(../../shared/assets/variables/variables.scss);

.footer {
    width: 100%;
    background: #ffffff;
    color: black;
    padding: 30px 20px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #eaeaea;
    position: relative;
    margin-bottom: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    align-items: flex-start;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #512ac7;
}

.column p,
.column a {
    font-size: 14px;
    color: #222;
    text-decoration: none;
}

.column a:hover {
    color: #512ac7;
}

.icons {
    display: flex;
    gap: 12px;
    margin-top: 6px;
}

.icons a {
    font-size: 20px;
    color: #000;
    transition: color 0.2s;
}

.icons a:hover {
    color: #512ac7;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.year {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: #666;
}

.scrollButton {
    position: static;
    width: 70%;
    margin-top: 10%;
    padding: 10px 20px;
    background: linear-gradient(135deg, #512ac7, #7f57f1);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background 0.3s ease;
}

.scrollButton:hover {
    background: linear-gradient(135deg, #4121a7, #6e45e2);
}

