.specialproducts_container {
  min-width: 0;
  display: block;
  margin: 12px auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}

.specialproducts_title {
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  padding-top: 20px;

  & a {
    display: grid;
    margin: 0;
    padding: 8px 10px 8px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    height: auto;
    grid-template-columns: auto 18px;
    grid-column-gap: 6px;
    grid-row-gap: 0;
    font-family: "Mabry Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none !important;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    border-radius: 0 100px 100px 0;
    background-color: #cf56e3;
    fill: rgb(255, 255, 255);
    color: #fff;
  }
}

.specialproducts_list {
  display: flex;
  align-items: center;
  position: relative;
  //   gap: 5px;
  padding: 0 16px 20px 16px;
  width: 1320px;
}

.specialproducts_book_list {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  scroll-behavior: smooth;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  min-width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;

  &:hover {
    color: #fff;
    background-color: #cf56e3;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
}

.specialproducts_book_list::-webkit-scrollbar {
  height: 8px;
}

.specialproducts_book_list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
