.searchBar {
  display: flex;
  flex-grow: 1;
  max-width: 776px;
  border-radius: 4px;
  color: black;
  position: relative;
}

.searchInput {
  border: 2px solid hsl(255, 65%, 47%);
  outline: none;
  color: #222;
  font-family: "Mabry Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  font-style: normal;
  padding-left: 38px;
  padding-right: 48px;
  width: 100%;
  height: 44px;
  caret-color: initial;
  outline: none !important;
  border-radius: 100px;
  -webkit-transition: background-color 120ms ease;
  -o-transition: background-color 120ms ease;
  transition: background-color 120ms ease;
  cursor: text;
}

.searchBar svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.searchButton {
  border-radius: 0 100px 100px 0;
  position: absolute;
  right: 0;
  width: 90px;
  height: 44px;
  font-size: 17px;
}
